*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #990011;
    
}
/* above apparently the best way to make sure everything acts like a border box
by default. Try to that and the below for padding and margin in all css files
when making a website for best practice. */
 /* something you should include to help with spacing
    box sizing (border-box) makes it so you can set the height and width on sections
    and not have it increase by your padding. */
h1{
    
    /* text-align: center; */
    /* width: 220px;
    margin: auto; */
    text-decoration: underline;
    color: #FCF6F5;
    /* margin-bottom: 10px; */
}
h2{
    font-family: "Times New Roman", sans-serif, Arial, serif;
    font-size: 30px;
    text-decoration: underline;
    width: 170px;
    margin: auto;
    background-color: #FCF6F5;
}
img{
    border: 20px black double;
    width: 200px;
    height: auto;
}
/* I shouldnt do this. But because the only paragraphs Im using is for this section
customizing like this make it easy.
I could have done inline styles for each or made a class. But this was easier
 */

p{
    background-color: #FCF6F5;
}


a{
   
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    align-items: center;
    border: 10px black double;
    padding: 10px;
    background-color: #FCF6F5;
}

div{
    margin: auto;
    align-items: center;
    padding: 40px;
    font-size: 20px;
    width: 80%;
    height: auto;

    
}
.ul-main{
    list-style-type: none;
    text-align: center;
    border: black 10px double;
}
/* getting all the unorder list/order list plus their items and setting the same style for them */

ul,
ul li,
ol,
ol li{
    list-style-position: inside;
    background-color:  #FCF6F5;
    margin-bottom: 10px;  
}
/* .dish-info, */
.descrip-div,
.ingredients-div,
.steps-div{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    color: black;
    border: 10px black double;
    background-color: #FCF6F5;


}
.link-div{
    text-align: center;
}

.main-div{
    display: flex;
    flex-direction: column;
}
.dish-info{
    display: flex;
    border: black 10px double;
    flex-direction: row;
    justify-content:flex-start;
   
    

}
.dish-info>img{
    flex-shrink: 7;
    margin-right: 50px;
    margin-left: 0px;
}
.descrip-div{
    display: flex;
   
    flex-direction: column;
    flex: 1 1 0;

}
.descrip-div>h1{
    color: black;
    background-color: #FCF6F5;
    align-self: center;
    padding: 20px;
    font-size: 70px;
    
}
@media screen and (min-width:600px) {
    .dish-info{
        flex-wrap: wrap;
        
        
    }
    .dish-info>img{
        margin-right: 120px;
        margin-left: auto;
        
    }
}


