*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: lightsalmon;
    
}
/* above apparently the best way to make sure everything acts like a border box
by default. Try to that and the below for padding and margin in all css files
when making a website for best practice. */
 /* something you should include to help with spacing
    box sizing (border-box) makes it so you can set the height and width on sections
    and not have it increase by your padding. */
h1{
    background-color: lightseagreen;
    text-align: center;
    width: 220px;
    margin: auto;
}
h2{
    font-family: "Times New Roman", sans-serif, Arial, serif;
    font-size: 30px;
    text-decoration: underline;
    width: 170px;
    margin: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a{
   
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    align-items: center;
    background-color: white;
}

div{
    margin: auto;
    align-items: center;
    padding: 40px;
    font-size: 20px;

    
}
.ul-main{
    list-style-type: none;
    text-align: center;
}
ul{
    list-style-position: inside;
   
   
}
ol{
    list-style-position: inside;
   
}
li{
    margin-bottom: 10px;
    color: white;
}

.descrip-div,
.ingredients-div,
.steps-div{
    width: 550px;
    height: auto;
    padding: 20px;
    margin-bottom: 50px;

}
.link-div{
    text-align: center;
}
